/node_modules
/.log
/public/hot
/public/storage
/public/js/resources_js_*
/storage/*.key
/storage/db
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
public/js/resources_js*
public/js/resources_js*
